doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="REST API's for people that want everything")
    meta(name="author", content="Hannes Moser")

    title NET I AM - REST API's for people that want everything

    //- custom Fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", rel="stylesheet", type="text/css")

    // build:css(.tmp) styles/main.css
    include ./bower-styles
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css")

body#page-top.index
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#netiam-navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#page-top') net i am
            // Collect the nav links, forms, and other content for toggling
            #netiam-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.hidden
                        a(href='#page-top')
                    li.page-scroll
                        a.text-muted(href='#download') Download
                    li.page-scroll
                        a(href='#docs') Docs
                    li.page-scroll
                        a(href='#about') About
                    li.page-scroll
                        a(href='#contact') Contact

    header
        a(href="https://github.com/netiam/netiam")
            img(
                style="position: absolute; top: 100px; right: 0; border: 0;",
                src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67",
                alt="Fork me on GitHub",
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
            )
        .container
            .row
                .col-lg-12
                    img.img-responsive(src='img/profile.png', alt='')
                    .intro-text
                        span.name net i am
                        hr.star-light
                        span.skills RESTful API Framework at your service

    section#download
        .container
            .row
                .col-lg-12.text-center
                    h2 Download
                    hr.star-primary
            .row
                .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.markdown-body
                    include:md ./markdown/download.md

    section#docs
        .container
            .row
                .col-lg-12.text-center
                    h2 Documentation
                    hr.star-primary
            .row
                p.text-center.text-muted.
								    This section contains the README from the official library.
								:markdown
								    The API docs can be found [here](http://docs.neti.am).
                br
            .row
                .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.markdown-body
                    include:md ../.tmp/lib/README.md

    section#about.success
        .container
            .row
                .col-lg-12.text-center
                    h2 About
                    hr.star-light
            .row
                .col-lg-4.col-lg-offset-2
                    p.
                        neti.am aims to provider a fully-featured open-source API
                        stack for your next project. Using progressive and easy to
                        use technology (Node.js, MongoDB), we try to shorten down
                        your development time and reduce your costs.
                .col-lg-4
                    p.
                        We do our best to give you a solid and straight-forward API
                        next to a modular system, so that this will fit easily into
                        most of your development scenarios.
                .col-lg-8.col-lg-offset-2.text-center
                    a.btn.btn-lg.btn-outline(href='https://github.com/netiam/netiam/releases/latest')
                        i.fa.fa-download
                        | &nbsp;Download

    footer.text-center
        .footer-above
            .container
                .row
                    .footer-col.col-md-4
                        h3 Location
                        p
                            | Jakob-Haringer Straße 1
                            br
                            | A-5020, Salzburg
                    .footer-col.col-md-4
                        h3 Around the Web
                        ul.list-inline
                            li
                                a.btn-social.btn-outline(href='https://facebook.com/hwm')
                                    i.fa.fa-fw.fa-facebook
                            li
                                a.btn-social.btn-outline(href='https://twitter.com/eliias')
                                    i.fa.fa-fw.fa-twitter
                            li
                                a.btn-social.btn-outline(href='https://at.linkedin.com/in/moserhannes')
                                    i.fa.fa-fw.fa-linkedin
                    .footer-col.col-md-4
                        h3 About neti.am
                        p.
                            This project aims to provide a full-featured RESTful
                            API framework.
        .footer-below
            .container
                .row
                    .col-lg-12
                        a(rel='license', href='http://creativecommons.org/licenses/by/4.0/')
                            img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by/4.0/80x15.png')
                        br
                        span(xmlns:dct='http://purl.org/dc/terms/', property='dct:title') netiam
                        |  by&nbsp;
                        a(xmlns:cc='http://creativecommons.org/ns#', href='https://neti.am', property='cc:attributionName', rel='cc:attributionURL') Hannes Moser
                        |  is licensed under a&nbsp;
                        a(rel='license', href='http://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License
                        | .


    .scroll-top.page-scroll.visible-xs.visble-sm
        a.btn.btn-primary(href='#page-top')
            i.fa.fa-chevron-up

    // build:js({app,.tmp}) scripts/main.js
    script(async, src='../bower_components/jquery/dist/jquery.js')
    script(async, src='../bower_components/bootstrap/dist/js/bootstrap.js')
    script(async, src='scripts/main.js')
    // endbuild
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")
    script.
        window.hljs.initHighlightingOnLoad();
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-360696-20', 'auto');
        ga('send', 'pageview');
